In [1]:
import os
import math
import random 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
from Util_def import *
from Util_model import *

import warnings
warnings.filterwarnings('ignore')

Devices:  [PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'), PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
GPU details:  {'device_name': 'METAL'}

In [4]:
# 5 years data
startDate = dt.datetime(2015, 1, 1)
endDate = dt.datetime(2024, 12, 31)
start_rebalance_year = 2020

fund = 'ETF'
results_excel_path = f"data_analysis/Fund_performance/Results_fund/01_{fund}_performance.xlsx"

# ===== ETF Price =====
data = pd.read_csv('33_ETF_data.csv', index_col='Date', parse_dates=True)
data.head()

,SHV,BND,BNDX,JNK,VT,VEA,IEMG,VOO,QQQ,DIA,...,IXP,JXI,ITA,ICLN,SKYY,SMH,REET,IGF,PDBC,GLD
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,91.58,61.78,40.36,63.18,47.90,27.78,35.28,157.09,95.12,144.23,...,46.93,34.58,51.26,8.04,27.44,24.37,17.58,30.86,9.80,114.08
2015-01-05,91.58,61.96,40.34,62.74,46.98,27.16,34.75,154.33,93.73,141.72,...,46.02,33.78,50.50,7.87,26.94,23.93,17.66,30.17,9.68,115.80
2015-01-06,91.58,62.14,40.43,62.45,46.51,26.86,34.56,152.81,92.47,140.55,...,45.85,33.66,50.17,7.85,26.49,23.37,17.77,29.95,9.56,117.12
2015-01-07,91.58,62.18,40.40,62.79,47.11,27.14,35.28,154.72,93.66,142.33,...,46.36,33.90,50.62,7.92,26.62,23.68,18.04,30.21,9.51,116.43
2015-01-08,91.58,62.08,40.39,63.21,47.82,27.56,35.90,157.44,95.46,144.90,...,47.12,34.16,51.61,8.11,26.99,24.27,18.15,30.54,9.52,115.94

# 1. MIXAGG

In [5]:
df = data.copy()

df = df.loc['2019-12-30':'2024-12-31']
rebalance_dates =  get_rebalance_dates(df, start_year=start_rebalance_year)
start_date = rebalance_dates[0]  # First rebalance date

Rebalance Dates: ['2020-01-02', '2020-04-01', '2020-07-01', '2020-10-01', '2021-01-04', '2021-04-01', '2021-07-01', '2021-10-01', '2022-01-03', '2022-04-01', '2022-07-01', '2022-10-03', '2023-01-03', '2023-04-03', '2023-07-03', '2023-10-02', '2024-01-02', '2024-04-01', '2024-07-01', '2024-10-01']

DS

In [6]:
df_all_period, df_yearly, df_quarterly = fund_performance_analysis(df)

In [9]:
save_dataframe_to_new_sheet(df_all_period, results_excel_path, 'All_Period')
save_dataframe_to_new_sheet(df_yearly, results_excel_path, 'Yearly')
save_dataframe_to_new_sheet(df_quarterly, results_excel_path, 'Quarterly')

DataFrame saved to sheet 'All_Period' in new file: data_analysis/Fund_performance/Results_fund/01_ETF_performance.xlsx âœ¨
DataFrame saved to sheet 'Yearly' in existing file: data_analysis/Fund_performance/Results_fund/01_ETF_performance.xlsx ðŸ“„
DataFrame saved to sheet 'Quarterly' in existing file: data_analysis/Fund_performance/Results_fund/01_ETF_performance.xlsx ðŸ“„

In [10]:
peer_all = calculate_peer_percentiles(df_all_period)
peer_yearly = calculate_peer_percentiles(df_yearly, groupby='Year')
peer_quarterly = calculate_peer_percentiles(df_quarterly, groupby='Quarter')

In [11]:
save_dataframe_to_new_sheet(peer_all, results_excel_path, 'Peer_All_Period')
save_dataframe_to_new_sheet(peer_yearly, results_excel_path, 'Peer_Yearly')
save_dataframe_to_new_sheet(peer_quarterly, results_excel_path, 'Peer_Quarterly')

DataFrame saved to sheet 'Peer_All_Period' in existing file: data_analysis/Fund_performance/Results_fund/01_ETF_performance.xlsx ðŸ“„
DataFrame saved to sheet 'Peer_Yearly' in existing file: data_analysis/Fund_performance/Results_fund/01_ETF_performance.xlsx ðŸ“„
DataFrame saved to sheet 'Peer_Quarterly' in existing file: data_analysis/Fund_performance/Results_fund/01_ETF_performance.xlsx ðŸ“„